<!-- override the styling of checkbox labels for 'user roles' to make them
     appear on the same line -->
<style type="text/css">
  label[for^=role] {
    display: inline;
  }

  input[type=submit] {
    color: "red";
  }

  /* Following two selectors involving ".field_with_errors" we added when the color did not show.
     I found the solution from *Kevin Reeth* dated Jun 6 '12. 
     See: http://stackoverflow.com/questions/5267998/rails-3-field-with-errors-wrapper-changes-the-page-appearance-how-to-avoid-t/10921200#10921200

   */
  .field_with_errors label {
    padding: 2px;
    background-color: red;
  }
  .field_with_errors input {
    padding: 3px 2px;
    border: 2px solid red;
  }
</style>

<script type="text/javascript">
  $(function(){
   
    // disable submit button until user changes something
    $(":submit").prop('disabled', 'true');

    // re-enable stuff when any input field changes
    $("input").change(function(){
      // re-enable submit button
      $(":submit").removeProp('disabled');
    });
 
  });
</script>

<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


<!-- following is an accordian that holds all the content in separate partial files -->
  <%
    accordion_panels = []
    accordion_panels << { :label         => "General Information", 
                          :partial_name  => "edit_general", 
                          :is_open       => :true }

    accordion_panels << { :label         => "User roles",
                          :partial_name  => "edit_roles",   
                          :is_open       => :true }

    accordion_panels << { :label         => "Change password",     
                          :partial_name  => "edit_change_password" }

    accordion_panels << { :label         => "Cancel my account",
                          :partial_name  => "edit_cancel_account" }
  
    # if password is left blank, password_confirmation returns empty also, no matter what
    # so it is not tested for. If the user enters only password_confirmation, this test cannot
    # open the Change Password accordion panel. I see no fix for this. (gfs)

    # first time called, params is nil & the has_key? method throws an error, so test.
    # has_key? only works on flat portion of a hash, so break into two tests.
    if not params.nil?
      if (params.has_key?("user"))
        if params["user"].has_key?("password")
          accordion_panels[2][:is_open] = :true 
        end
      end
    end

   %>

  <%= render :partial => "accordion_layout",  :locals => { :panels => accordion_panels, :f => f } %>
  



  <div id="my_password_div"><%= f.label :current_password %> <i>(we need your current password to confirm any changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", :class => "btn" %></div>


<% end %>

<%= link_to "Back", :back %>
