<!-- override the styling of checkbox labels for 'user roles' to make them
     appear on the same line -->
<style type="text/css">
  label[for^=role] {
    display: inline;
  }

  input[type=submit] {
    color: "red";
    
  }
</style>

<script type="text/javascript">
  $(function(){
   
    // disable submit button until user changes something
    $(":submit").prop('disabled', 'true');

    // re-enable submit button when any input field changes
    $("input").change(function(){
      $(":submit").removeProp('disabled');
    });
 
  });
</script>

<h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


<!-- following is an accordian that holds all the content in separate partial files -->
  <%
    accordion_panels = []
    accordion_panels << { :label         => "General Information", 
                          :partial_name  => "edit_general", 
                          :is_open       => :true }

    accordion_panels << { :label         => "User roles",
                          :partial_name  => "edit_roles",   
                          :is_open       => :true }

    accordion_panels << { :label         => "Change password",     
                          :partial_name  => "edit_change_password" }
  
    # if password is left blank, password_confirmation returns empty also, no matter what
    # so it is not tested for. If the user enters only password_confirmation, this test cannot
    # open the Change Password accordion panel. I see no fix for this. (gfs)
 
    if ( params.has_key?("password") ) then
      accordion_panels[2][:is_open] = :true 
    end

   %>

  <%= render :partial => "accordion_layout",  :locals => { :panels => accordion_panels, :f => f } %>
  



  <div><%= f.label :current_password %> <i>(we need your current password to confirm any changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", :class => "btn" %></div>


<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
