<script>
    $(function() {
      $('.attachinary-input').attachinary();

      $(':submit, :file').button({hover: "red"});
    });
</script>


<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= f.label :user_id %><br /> don't need a label on a hidden field -->
    <%= f.hidden_field :user_id, :value => get_existing_value_else_current_user_id %> 
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>Get images:
  <br />
  <%= f.attachinary_file_field :photos %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
