<script>
    $(function() {
      $('.attachinary-input').attachinary();
    });
</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Exercise name:</b>
  <%= @exercise.name %>
</p>

<p>
  <b>Skill name:</b>
  <%= @exercise.lookup_skill.skillname %> <br />
  <b>from skill set:</b>
  <%= @exercise.lookup_skill.skillset %> 
</p>

<p>
	<b>Created by:</b>
	<%= @exercise.user.username %>	
</p>


<% @exercise.photos.each do |photo| %>
    <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
<% end %>



<br />

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
